<div class="main-header">
  <h1>Hồ sơ Tổ chức</h1>
   <div class="actions">
    <input type="text" [(ngModel)]="tuKhoaTimKiem" (input)="timKiem()" placeholder="Tìm kiếm sự kiện..." />
    <button class="btn btn-primary" (click)="batDauThemMoi()">+ Thêm tổ chức</button>
  </div>

</div>

<!-- <div class="statistics">
  <div class="stat-card">Chờ duyệt: {{demToChuc(TrangThaiXacMinh.ChoDuyet)}}</div>
  <div class="stat-card">Đã duyệt: {{demToChuc(TrangThaiXacMinh.DaDuyet)}}</div>
  <div class="stat-card">Từ chối: {{demToChuc(TrangThaiXacMinh.TuChoi)}}</div>
</div> -->

<table class="data-table">
  <thead>
    <tr>
      <th>Mã TC</th><th>Tên tổ chức</th><th>Email</th><th>Địa chỉ</th><th>Ngày tạo</th><th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let toChuc of danhSachHienThi">
      <td>{{toChuc.maToChuc}}</td>
      <td>{{toChuc.tenToChuc}}</td>
      <td>{{toChuc.email}}</td>
      <td>{{toChuc.diaChi}}</td>
      <td>{{formatNgayTao(toChuc.ngayTao)}}</td>
      <!-- <td><span [class]="getTrangThaiClass(toChuc.trangThaiXacMinh)">{{getTrangThaiText(toChuc.trangThaiXacMinh)}}</span></td>
      <td>
        <button (click)="xemChiTiet(toChuc)">👁️</button>
        <button *ngIf="toChuc.trangThaiXacMinh === TrangThaiXacMinh.ChoDuyet" (click)="duyetToChuc(toChuc)">✅</button>
        <button *ngIf="toChuc.trangThaiXacMinh === TrangThaiXacMinh.ChoDuyet" (click)="tuChoiToChuc(toChuc)">❌</button>
        <button class="danger" (click)="xoaToChuc(toChuc)">🗑️</button>
      </td> -->
      <td>
          <button class="btn btn-edit">Sửa</button>
          <button class="btn btn-delete">Xóa</button>
        </td>
    </tr>
  </tbody>
</table>

<div class="modal" *ngIf="hoSoDangXem" (click)="dongModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Chi tiết tổ chức</h2>
    <p><strong>Tên:</strong> {{hoSoDangXem.tenToChuc}}</p>
    <p><strong>Email:</strong> {{hoSoDangXem.email}}</p>
    <p><strong>Địa chỉ:</strong> {{hoSoDangXem.diaChi}}</p>
    <p><strong>Trạng thái:</strong> {{getTrangThaiText(hoSoDangXem.trangThaiXacMinh)}}</p>
    <button (click)="dongModal()">Đóng</button>
  </div>
</div>
