<header class="header">
  <div class="logo">
    <img src="logo.png" alt="Logo">
  </div>
  <nav>
    <a href="#">Trang chủ</a>
    <a href="#">Sự kiện</a>
    <a href="#">Tổ chức</a>
    <a routerLink="/profile" routerLinkActive="active">Hồ Sơ</a>
  </nav>
  <div class="actions">
    <span>EN</span>
    <img src="search-interface-symbol.png">
  </div>
</header>

<section class="hero-section">
  <img src="tinhnguyen.png">
</section>

<section class="featured">
  <h2>Dự án nổi bật</h2>
  <div class="carousel">
        <!-- <div class="card" *ngFor="let i of [1,2,3]"> -->

    <div class="card">
      <div class="img-placeholder">Image</div>
      <div class="info">
        <h4>Name</h4>
        <a href="#">More information ></a>
      </div>
    </div>
    <button class="next-btn">›</button>
  </div>
</section>

<section class="hero-section alt">
  <div class="hero-text">Back Ground Image</div>
  <img src="tinhnguyen2.jpg">
</section>

<section class="ai-section">
  <h2>VOAT (Volunteer Of All Time)</h2>
  <div class="ai-grid">
    <!-- <div class="ai-card" *ngFor="let i of [1,2,3,4,5,6]">Image</div> -->

  </div>
</section>

<footer class="footer">
  <p>Footer</p>
</footer>
